html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  align-items: stretch;
}

body,
main {
  display: flex;
  flex-direction: column;
}

header, main, footer {
  flex-shrink: 0;
}

nav {
  order: -1;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    flex: 1;
  }
  article {
    flex: 1;
  }
  nav, aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}