@import "../config/media";
@import "../config/colors";

/* custom */
ul.ui-autocomplete {

	background-color: $white;
	list-style: none;
	padding-left: 0;

	li {

		cursor: pointer;
		font-size: 0.85em;
		letter-spacing: 0;
		padding-left: 8px;

		@include for-size(tablet-landscape-up) {
			font-size: 0.85em;
			letter-spacing: 0;
		}
	}
}
