@import "../config/colors";

article,
section {
	padding: 0 12px;
}

article {

	.article-meta {

		color: $black;
		font-weight: 550;
	}

	&:after {
		clear: both;
		content: "";
		display: block;
	}
}
