@import "../config/colors";
@import "../config/media";

html {
	background: $gray-dark;
	margin: 0;
	padding: 0;
}

body {
	align-items: stretch;
	background-color: $white;
	font-family: "helvetica neue", Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	letter-spacing: 0.05em;
	line-height: 26px;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0;

	a,
	a:visited,
	a:focus,
	a:active {
		color: $light-blue;
		font-weight: 550;
		outline: 0;
		text-decoration: none;
	}

	h1 {
		color: $light-blue;
	}
}

body,
main,
.content-container {
	display: flex;
	flex-direction: column;
}

.content-container {
	flex: 1;
}

.nav-top-thin,
header,
main,
footer {
	flex-shrink: 0;
}


@include for-size(tablet-landscape-up) {

	body {
		box-shadow: 4px 0 5px 5px $black;
		width: 95%;

		@include for-size(desktop-up) {
			width: 80%;

			@include for-size(big-desktop-up) {
				max-width: 1300px;
			}

		}


		main {
			flex: 1;
			flex-direction: row;
		}

		article {
			flex: none;
		}

		aside {

			/* 12em is the width of the columns */
			flex: 0 0 16em;
		}
	}
}
