@import "../config/media";

html {
	background: black;
	margin: 0;
	padding: 0;
}

body {
	align-items: stretch;
	font-family: "helvetica neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
}

body,
main,
.content-container {
	display: flex;
	flex-direction: column;
}

.content-container {
	flex: 1;
}

header,
main,
footer {
	flex-shrink: 0;
}

nav {
	order: -1;
}

@include for-size(tablet-landscape-up) {

	body {
		max-width: 80%;
		max-width: 1300px;

		main {
			flex: 1;
			flex-direction: row;
		}

		article {
			flex: none;
		}

		nav,
		aside {

			/* 12em is the width of the columns */
			flex: 0 0 12em;
		}
	}
}
