@import "../config/colors";

header {

	h1 {
		background: $dark-blue;
		color: $deep-cerulean;
		font-size: 2em;
		order: 1;
		text-align: right;
	}

	sub {
		order: 2;
	}

	background-image: url(../img/background-london.jpg);
}
