@import "../config/colors";
@import "../config/media";

.is-menu-on .menu-mobile-menu-container {
	max-height: 300px;
}

/* main header elements */

header {

	position: relative;

	> img,
	> a > img {
		margin: 10px;
	}

	@include for-size(tablet-landscape-up) {

		button.menu-btn {
			display: none;
		}
	}

	.menu-btn {
		float: right;
		margin: 10px;
		vertical-align: top;
	}

	span.b-title {
		color: $gray-pitch;
		font-size: 1.5em;
	}

	span.b-title,
	span.b-description {
		font-weight: 700;
		line-height: 60px;
		vertical-align: top;
	}

	span.b-description {
		color: $gray-light;
		display: none;
		font-size: 1.3em;
	}

	@include for-size(tablet-landscape-up) {

		span.b-description {
			display: inline-block;
		}
	}

}

/* navigation above header */
nav {

	a,
	ul,
	li,
	a img {
		margin: 0;
		padding: 0;
	}

	a {
		color: $black;
	}

	&.menu-main-container,
	&.menu-thin-container {
		float: right;
		width: auto;

		ul {
			float: right;
		}

		ul,
		li,
		a,
		img {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			font-weight: 600;
			padding: 5px 8px;
		}
	}

	&.menu-thin-container {
		padding-right: 12px;
	}

	&.menu-main-container {

		display: none;

		a {
			color: $black;
			font-size: 1.2em;
			font-weight: 700;
			line-height: 60px;
			padding: 0 0.4em;
		}
	}

	&.menu-mobile-menu-container {
		display: block;
		max-height: 0;
		overflow: hidden;
		position: absolute;
		text-align: center;
		transition: max-height 0.2s ease-in-out;
		width: 100%;
		z-index: 5;

		ul {
			background-color: $white;
			list-style: none;

			> li {
				padding-bottom: 8px;
			}

			a {
				color: $black;
				font-weight: 600;
			}
		}
	}

	@include for-size(tablet-landscape-up) {

		&.menu-main-container,
		&.menu-thin-container {
			display: block;
		}

		&.menu-mobile-menu-container {
			display: none;
		}

		span.b-description {
			display: inline-block;
		}
	}

}
