@import "../config/media";
@import "../config/colors";

.search-container {
	background-image: url("../../../../../uploads/2021/01/phpstorm-300x109.png");
	height: 170px;
	position: relative;

	form {
		background-color: $white;
		border-radius: 8px;
		left: 50%;
		opacity: 80%;
		overflow: hidden;
		padding: 10px 15px;
		position: relative;
		top: 29%;
		transform: translate(-50%, -50%);
		width: fit-content;

		input.search-field {
			font-size: 1em;
		}

		input.search-submit {
			padding: 0.2em 1.1em;
		}
	}

	h1 {
		background-color: $white;
		border-radius: 8px;
		font-size: 1.2em;
		left: 50%;
		opacity: 80%;
		overflow: hidden;
		padding: 10px 15px;
		position: relative;
		top: 18%;

		@include for-size(tablet-landscape-up) {
			font-size: 1.5em;
			top: 35%;
		}

		transform: translate(-50%, -50%);
		width: fit-content;
	}
}

@include for-size(tablet-landscape-up) {

	.search-container {
		background-image: url("../../../../../uploads/2021/01/phpstorm-768x279.png");
		height: 300px;

		form {
			font-size: 1.3em;
			padding: 10px 40px;

			input[type="text"] {
				font-size: 1em;
			}

			input.search-submit {
				padding: 0.5em 1.5em;
			}

		}
	}
}
